<div class="jumbotron">
    <h1 class="display-4 ml-4">About</h1>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-5">
            <%=image_tag "audemars.jpg", class:"img-fluid"%>
        </div>
        <div class="col-md-5">
            <p class="lead">The Watch Collection is the only second hand online luxury watch boutique founded and based in Australia.</p>
            <p> We aspire to provide a safe and trusted environment for individuals looking to buy and sell their pre-loved luxury watches.</p>
            <p>For our sellers, The Watch Collection is a dedicated platform to help you sell your items faster through our growing large community of watch lovers and collectors.</P>
            <p>While for our buyers, feel at ease knowing that your purchases are authentic, of high quality and at an affordable price.</p>
            <br>
            <p>To enquire further about how we can help you, <a href="mailto:emails@thewatchcollection.com" class="about">contact us</a>.</p>
        </div>
    </div> 

</div>