<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-6 align-self-center">A Second Life for Extrordinary Time Pieces</h1>
      <p class="lead">Explore</p>
      <i class="bi bi-arrow-right"><%=image_tag "arrow-right.svg"%></i>
    </div>
    <div class="col-md-6">
      <%=image_tag "home.jpg", class:"img-fluid"%>
    </div>
  </div>
</div>